In [20]:
import pandas as pd
import re
import glob
import os
from autocorrect import Speller

In [21]:
path = r'C:\\Users\\Alap Parate\\Desktop\twitter_sen_stock'
all_files = glob.glob(os.path.join(path , "data\*.csv"))

In [22]:
all_files

['C:\\\\Users\\\\Alap Parate\\\\Desktop\\twitter_sen_stock\\data\\tweets_2022-01-01_2022-01-04.csv',
 'C:\\\\Users\\\\Alap Parate\\\\Desktop\\twitter_sen_stock\\data\\tweets_2022-01-04_2022-01-10.csv',
 'C:\\\\Users\\\\Alap Parate\\\\Desktop\\twitter_sen_stock\\data\\tweets_2022-01-10_2022-01-15.csv',
 'C:\\\\Users\\\\Alap Parate\\\\Desktop\\twitter_sen_stock\\data\\tweets_2022-01-15_2022-01-20.csv',
 'C:\\\\Users\\\\Alap Parate\\\\Desktop\\twitter_sen_stock\\data\\tweets_2022-01-20_2022-01-25.csv',
 'C:\\\\Users\\\\Alap Parate\\\\Desktop\\twitter_sen_stock\\data\\tweets_2022-01-25_2022-01-31.csv']

In [23]:
df_each_file = (pd.read_csv(f) for f in all_files)
concat_df = pd.concat(df_each_file, ignore_index=True)

In [24]:
concat_df = concat_df.sort_values(by='time').reset_index(drop=True)

In [25]:
sample = 'I looove tading, today gian ae high #nifty @myfriend'

In [26]:
sample_ = re.sub(r"@[A-Za-z0-9]*" ,"",sample)
sample_ = re.sub(r"#[A-Za-z0-9]*" ,"",sample_)

In [27]:
sample_

'I looove tading, today gian ae high  '

In [28]:
spell_check = Speller()
spell_check(sample_)

'I love taking, today gain ae high  '

In [29]:
link = ' this is test string https://www.google.com'

In [30]:
print(re.sub(r'https?:\/\/.*[\r\n]*','',link))

 this is test string

## Cleaning Tweets

##### remove #hashtags and @mentions

In [31]:
concat_df

,tweet,time
0,Stock markets script ready for 2022 ?. #Nifty...,2022-01-01T05:08:15.000Z
1,"To get rid of excessive greed, Always think f...",2022-01-01T05:08:15.000Z
2,Lessons from 2021 stock market - Paisa acche e...,2022-01-01T05:08:15.000Z
3,Good morning\n\nMy state of mind as per nifty ...,2022-01-01T05:08:15.000Z
4,Wishing you all very happy new year. May this ...,2022-01-01T05:08:15.000Z
...,...,...
14400,A bouncing Monday wont be bad \n#spx \n#nifty ...,2022-01-30T23:56:47.000Z
14401,'#RohitSharma has failed to use #TeamIndia cap...,2022-01-30T23:56:47.000Z
14402,FII leaving indian markets is being spammed by...,2022-01-30T23:56:47.000Z
14403,*Event Calendar For Next Week*\n\n*31.01.2022:...,2022-01-30T23:56:47.000Z
14404,"Trading is a marathon, not a sprint, always re...",2022-01-30T23:56:47.000Z

In [32]:
concat_df['tweet'] = concat_df['tweet'].str.lower()

In [33]:
def cleaner(text:str):
    
    text = text.lower()
    
    hash_pattern  = re.findall("[#|@]\w+",text)
    for p in hash_pattern:
        text = text.replace(p,"")
    urls = re.findall("http[A-Za-z:/0-9.]+",text)
    for u in urls:
        text = text.replace(u,"")
    text =re.findall("\w+",text)
    text = " ".join(text)
    return text

In [34]:
concat_df['tweet'] = concat_df['tweet'].apply(cleaner)

In [35]:
concat_df.to_csv('final_data.csv',index=False)

In [36]:
concat_df['tweet'][87]

'let me tell you all a secret new highs are coming ride this bull and manage risk at all times it is going to be bumpy but new highs will certainly come'

## Removing other languages rows

In [37]:
from langdetect import detect
from langdetect.lang_detect_exception import LangDetectException

In [38]:
df = pd.read_csv('final_data.csv')

In [39]:
df['tweet'][87]

'let me tell you all a secret new highs are coming ride this bull and manage risk at all times it is going to be bumpy but new highs will certainly come'

In [40]:
df.isnull().sum()

tweet    6
time     0
dtype: int64

In [41]:
df.dropna(inplace=True,axis=0)

In [42]:
df.isnull().sum()

tweet    0
time     0
dtype: int64

In [43]:
df.reset_index(drop=True)

,tweet,time
0,stock markets script ready for 2022 everything...,2022-01-01T05:08:15.000Z
1,to get rid of excessive greed always think for...,2022-01-01T05:08:15.000Z
2,lessons from 2021 stock market paisa acche equ...,2022-01-01T05:08:15.000Z
3,good morning my state of mind as per nifty lev...,2022-01-01T05:08:15.000Z
4,wishing you all very happy new year may this y...,2022-01-01T05:08:15.000Z
...,...,...
14394,a bouncing monday wont be bad,2022-01-30T23:56:47.000Z
14395,has failed to use captaincy to up his game sha...,2022-01-30T23:56:47.000Z
14396,fii leaving indian markets is being spammed by...,2022-01-30T23:56:47.000Z
14397,event calendar for next week 31 01 2022 india ...,2022-01-30T23:56:47.000Z
14398,trading is a marathon not a sprint always reme...,2022-01-30T23:56:47.000Z

In [44]:
df1 = df[df['tweet'].map(lambda x: x.isascii())]

In [45]:
df1 = df1.reset_index(drop=True)

In [46]:
df1

,tweet,time
0,stock markets script ready for 2022 everything...,2022-01-01T05:08:15.000Z
1,to get rid of excessive greed always think for...,2022-01-01T05:08:15.000Z
2,lessons from 2021 stock market paisa acche equ...,2022-01-01T05:08:15.000Z
3,good morning my state of mind as per nifty lev...,2022-01-01T05:08:15.000Z
4,wishing you all very happy new year may this y...,2022-01-01T05:08:15.000Z
...,...,...
14080,a bouncing monday wont be bad,2022-01-30T23:56:47.000Z
14081,has failed to use captaincy to up his game sha...,2022-01-30T23:56:47.000Z
14082,fii leaving indian markets is being spammed by...,2022-01-30T23:56:47.000Z
14083,event calendar for next week 31 01 2022 india ...,2022-01-30T23:56:47.000Z
14084,trading is a marathon not a sprint always reme...,2022-01-30T23:56:47.000Z

In [47]:
df1.to_csv('clean_data.csv',index=False)

In [1]:
import pickle
model = pickle.load(open("./model_pkl_xgb","rb"))

C:\anaconda3\lib\site-packages\xgboost\compat.py:36: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index